@use "../variables.scss" as *;

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    .footer_info_container {
        min-height: 60px;
        display: flex;
        width: 100%;
        justify-content: space-between; 
        .inquire_container,
        .contacts_container,
        .socials_container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }
        .inquire_container {
            text-transform: uppercase;
            font-size: 36px;
            @media (max-width: $tablet) {
                font-size: 24px;
            }
            @media (max-width: $tablet) {
                font-size: 18px;
            }
        }
        .contacts_container {
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            border-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6), transparent) 1;
        }
    }
    p {
        padding-top: 20px;
        font-size: 14px;
        color: #666;
    }
}