@use "../variables.scss" as *;

header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    position: relative;
    z-index: 101;
    .header_logo {
        z-index: 110;
        background-size: contain; 
        background-repeat: no-repeat;
        background-position: center; 
        display: block; 
        width: 220px; 
        height: 100px;
    };
    .menu-primary-container {
        a:hover {
            opacity: $hover-opacity;
            transition: all calc($transition-speed * 2) ease;
        }
        .menu {
            display: flex;
            gap: 30px;
            line-height: 100px;
            font-size: $button-fz;
            font-weight: 400;
            text-transform: uppercase;
            @media (max-width: $tablet) {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                transform: translateX(100vw);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba($main-color, 0.8);
                backdrop-filter: blur(3px);
                transition: transform $transition-speed ease-in-out;
            }
        }
        @media (max-width: $tablet) {
            position: absolute;
        }
        .menu_active {
            transform: translateX(0);
        }       
    }
    .menu_toggle_wrapper {
        position: relative;
        display: none;
        @media (max-width: $tablet) {
            display: block;
            right: 60px;
        }
        .menu_toggle {
            position: absolute;
            z-index: 110;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: $secondary-color;
            border: none;
            content: "";


            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 6h18M3 12h18M3 18h18' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3 6h18M3 12h18M3 18h18' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;

            transition: background-color 0.3s ease;
        }

        .menu_toggle:hover {
            background-color: rgba($secondary-color, 0.6);
        }

        .menu_toggle_active {
            background-color: $secondary-color;

            -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18 6L6 18M6 6l12 12' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M18 6L6 18M6 6l12 12' stroke='black' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
            
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
        }

    }
    @media (max-width: $tablet) {
        padding-top: 20px;
    }
}