$mobile: 576px;
$tablet: 1025px;
$desktop: 1280px;
$main-color: #EDE7E4;
$secondary-color: #3E3132;
$cofee-color: #91766E;
// $main-font: 'Montserrat', sans-serif;
$main-font: 'Nanum Myeongjo', serif;
$script-font: 'League Script', cursive;
$main-fz: 16px;
$heading-fz: 32px;
$button-fz: 24px;
$transition-speed: 0.3s;
$border-radius: 8px;
$hover-opacity: 0.6;