@use './variables' as *;

.stories {
    width: 100%;
    padding: 60px 0;
    padding-bottom: 0;
    overflow: hidden;

    &__inner {
        position: relative;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 60px;
        box-sizing: border-box;
    }
}

.stories-slider {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.story-slide {
    height: auto;
    box-sizing: border-box;
}

.story-card {
    display: block;
    text-decoration: none;
    text-align: center;
    transition: opacity 0.3s;
    cursor: grab;

    &:hover {
        opacity: 0.8;
    }

    &__img-wrap {
        width: 100%;
        aspect-ratio: 3 / 4.5;
        margin-bottom: 20px;
        // background: #eee;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__text {
        h2 {
            font-family: $main-font;
            font-size: 2rem;
            color: $secondary-color;
            // font-style: italic;
            font-weight: 400;
            margin: 0 0 10px 0;
        }
    }

    &__desc {
        color: $cofee-color;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;

        p {
            margin: 0;
        }
    }
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    z-index: 100;
    cursor: pointer;
    color: $secondary-color;

    &::after {
        font-size: 24px;
        font-weight: bold;
    }
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}
