.stories {
    padding: 40px 0;

    &.__container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        gap: 30px;
        padding-left: 20px;
        padding-right: 20px;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.story-item {
    flex: 0 0 auto;
    width: 280px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    text-align: center;

    a {
        text-decoration: none;
        display: block;
        color: #333;
    }
    
    img {
        width: 100%;
        height: 380px;
        object-fit: cover;
        display: block;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
    }

    a:hover img {
        filter: grayscale(0%);
    }

    h2, p {
        margin: 0;
        padding: 0 15px;
    }

    h2 {
        font-family: 'Playfair Display', serif; 
        font-size: 24px;
        font-weight: 400;
        padding-top: 15px;
        padding-bottom: 5px;
        color: #b18840; 
    }

    /* Стилі для першого параграфа (передбачається, що це 'WEDDING') */
    p:nth-of-type(1) {
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        color: #666;
        padding-bottom: 5px;
    }
    
    /* Стилі для другого параграфа (передбачається, що це 'Location') */
    p:nth-of-type(2) {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #999;
        padding-bottom: 20px;
    }
}