@use '../variables.scss' as *;

.gallery-section {
  column-count: 4;
  column-gap: 5px;
  width: 100%;
  margin: 20px 0;
}

.gallery-section .gallery-item {
  display: inline-block;
  width: 100%;
//   margin-bottom: 5px;
  overflow: hidden; 
  break-inside: avoid;
  page-break-inside: avoid;
}

.gallery-section .gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


@media (max-width: $desktop) {
  .gallery-section {
    column-count: 3;
  }
}

@media (max-width: $tablet) {
  .gallery-section {
    column-count: 2;
  }
}